body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  background-color: #edf6f9;
}
/* navigation section */

header {
  text-align: center;
  background-color: #006d77;
  padding-top: 10px;
  color: white;
}

.script_title {
    text-align: center;
    padding: 5px;
    font-size: 35px;
}

h1 {
  font-size: 45px;
}
ul li {
  list-style: none;
  display: inline-block;
}

button {
  margin: 20px 50px 30px 0px;
  color: white;
  background-color: #83c5be;
  border: none;
  padding: 11px 30px;
  border-radius: 4px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  color: #006d77;
  font-weight: bold;
  background-color: white;
}

/* images */
.hero_img {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.card_img {
  width: 250px;
  height: auto;
  border: 2px solid black;
}

.small_img {
    width: 50px;
    height: auto;
    margin-left: 15px;
}

/* Hero Section */

.hero_title {
  text-align: center;
  padding: 3px;
  font-size: 20px;
  background-color: #006d77;
  width: 20%;
  margin: 20px auto;
  color: white;
  border-radius: 4px;
}

.hero_text {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.hero_text p {
  font-size: 20px;
  line-height: 30px;
}

/* Favourties Section */

.card_title {
  text-align: center;
  padding: 3px;
  font-size: 20px;
  background-color: #006d77;
  width: 20%;
  margin: 20px auto;
  color: white;
  border-radius: 4px;
}

.card_container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.card {
  display: inline-block;
  width: 400px;
  text-align: center;
}

.card_container p {
  font-size: 20px;
}

/* Footer Section */

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

footer p {
  font-weight: bold;
}
